<template name="newGroup">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">
            <i class="fa fa-cubes"></i>&nbsp;
            {{_ "newGroup-header" }}
          </h4>
        </div>
        {{#autoForm id="newGroupForm" type="insert" collection="Groups"  }}

        <div class="modal-body">
          {{> afQuickField name="name"}}
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-success">
            {{_ "newGroup-save" }}
          </button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            {{_ "newGroup-cancel" }}
          </button>
        </div>
        {{/ autoForm }}
      </div>
    </div>
  </div>
</template>
