<template name="residentForm">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        {{# if Template.subscriptionsReady }}
        <div class="modal-header">
          <h4 class="modal-title">
            {{# if residentId }}
              {{_ "residentForm-header-edit" }}
            {{ else }}
              {{_ "residentForm-header-add" }}
            {{/ if }}
          </h4>
        </div>
        {{#autoForm
          id="residentForm"
          type=formType
          collection="Residents"
          doc=resident  }}

        <div class="modal-body">
          <!-- First name -->
          <label for="firstName">
            {{_ "residents.firstName.label" }}
          </label>
          {{> afFieldInput name="firstName"}}

          <!-- Last initial -->
          <label for="lastInitial">
            {{_ "residents.lastInitial.label" }}
          </label>
          {{> afFieldInput name="lastInitial"}}

          <!-- On hiatus -->
          <label for="onHiatus">
            {{_ "residents.onHiatus.label" }}
          </label>
          {{> afFieldInput name="onHiatus"}}
          <p class="help-block">
            {{_ "residentForm-onHiatus-helpText" }}
          </p>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-success">
            {{_ "residentForm-save" }}
          </button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            {{_ "residentForm-cancel" }}
          </button>
        </div>
        {{/ autoForm }}
        {{ else }}
        {{> spinner }}
        {{/ if }}
      </div>
    </div>
  </div>
</template>
