<template name="sharedReportSettingsForm">
    <form>
        <div class="form-group">
            <label class="control-label" for="activityMetric">
                {{_ "report-activityMetric-label" }}
            </label>
            &nbsp;
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default active">
                    <input id="activityMetric" name="activityMetric" type="radio" value="activity_minutes"
                           checked="checked">
                    {{_ "report-activityMetric-activity_minutes" }}
                </label>
                <label class="btn btn-default">
                    <input id="activityMetric" name="activityMetric" type="radio" value="activity_count">
                    {{_ "report-activityMetric-activity_count" }}
                </label>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="timePeriod">
                {{_ "report-timePeriod-label" }}
            </label>
            &nbsp;
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default active">
                    <input id="timePeriod" name="timePeriod" type="radio" value="week" checked="checked">
                    {{_ "report-timePeriod-week" }}
                </label>
                <label class="btn btn-default">
                    <input id="timePeriod" name="timePeriod" type="radio" value="month">
                    {{_ "report-timePeriod-month" }}
                </label>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" for="barMode">
                {{_ "report-barMode-label" }}
            </label>
            &nbsp;
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default active">
                    <input id="barMode" name="barMode" type="radio" value="group" autocomplete="off" checked="checked">
                    {{_ "report-barMode-group" }}
                </label>
                <label class="btn btn-default">
                    <input id="barMode" name="barMode" type="radio" value="stack">
                    {{_ "report-barMode-stack" }}
                </label>
            </div>
        </div>
    </form>
</template>