<template name="editHome">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        {{# if Template.subscriptionsReady }}
        <div class="modal-header">
          <h4 class="modal-title">
            {{_ "editHome-title" }}
          </h4>
        </div>
        {{#autoForm id="editHomeForm" type="update" collection="Homes" doc=this }}

        <div class="modal-body">
          <label for="name">
            {{_ "homes.name.label" }}
          </label>
          {{> afFieldInput name="name"}}

          <label for="groupId">
            {{_ "homes.groupId.label" }}
          </label>
          {{> afFieldInput name="groupId" options=groupOptions }}
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-success">
            {{_ "editHome-save" }}
          </button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            {{_ "editHome-cancel" }}
          </button>
        </div>
        {{/ autoForm }}
        {{ else }}
        {{> spinner }}
        {{/ if }}
      </div>
    </div>
  </div>
</template>
