<template name="newFeeling">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">
            <i class="fa fa-stethoscope"></i>&nbsp;
            {{_ "newFeeling-header" }}
          </h4>
        </div>


        {{# if Template.subscriptionsReady }}

        <!-- feelings select -->
        <div class="feelings row">
          <div id="joy" class="feeling col-sm-3 {{ feelingNotSelected 'joy' }}">
            <img src="/images/joy.svg" />
            <figcaption class="text-center">
              {{_ "feelings-happy" }}
            </figcaption>
          </div>
          <div id="fear" class="feeling col-sm-3 {{ feelingNotSelected 'fear' }}">
            <img src="/images/fear.svg" />
            <figcaption class="text-center">
              {{_ "feelings-scared" }}
            </figcaption>
          </div>
          <div id="sad" class="feeling col-sm-3 {{ feelingNotSelected 'sad' }}">
            <img src="/images/sad.svg" />
            <figcaption class="text-center">
              {{_ "feelings-sad" }}
            </figcaption>
          </div>
          <div id="anger" class="feeling col-sm-3 {{ feelingNotSelected 'anger' }}">
            <img src="/images/anger.svg" />
            <figcaption class="text-center">
              {{_ "feelings-angry" }}
            </figcaption>
          </div>
        </div>

        <!-- / feelings select -->

        {{# autoForm id="newFeelingForm" type="insert" collection="Feelings"  }}
        <div class="modal-body">
          <!-- show selected feeling preview if feeling has been selected -->
          {{# if selectedFeeling }}
            <div id="selected-feeling" class="feeling- clearfix text-center">
              <img src="/images/{{ selectedFeeling }}.svg" />
            </div>
          {{/ if }}

          <label for="residentId">
            {{_ "feelings.residentId.label" }}
          </label>
          {{> afFieldInput
            name="residentId"
            options=residentOptions
            value=residentId
           }}

          {{> afFieldInput
            name="feeling"
            type="hidden"
            value=selectedFeeling
          }}
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-success">
            {{_ "newFeeling-save" }}
          </button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            {{_ "newFeeling-cancel" }}
          </button>
        </div>
        {{/ autoForm }}
        {{ else }}
        {{> spinner }}
        {{/ if }}
      </div>
    </div>
  </div>
</template>
