<template name="usersSettings">
  <section class="content-header">
    <h1>
      <i class="fa fa-users"></i>&nbsp;
       {{_ "usersSettings-header" }}
     </h1>
  </section>
  <section class="content">
    <div class="box box-primary">
      <div class="box-header">
        <div class="box-toolbar">
          <div class="pull-right">
            <button id="add-user" class="btn btn-primary">
              {{_ "usersSettings-addUserButton" }}
            </button>
          </div>
        </div>
      </div>
      <div class="box-body no-padding">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>
                {{_ "usersSettings-tableHeaders-email" }}
              </th>
              <th>
                {{_ "usersSettings-tableHeaders-roles" }}
              </th>
              <th width="10%">
                {{_ "usersSettings-tableHeaders-edit" }}
              </th>
              <th width="10%">
                {{_ "usersSettings-tableHeaders-delete" }}
              </th>
            </tr>
          </thead>
          <tbody>
          {{# each users }}
          <tr>
            <td>{{ email }}</td>
            <td>{{ roles }}</td>
            <td>
              <button class="edit-user btn btn-warning btn-sm">
                <i class="fa fa-pencil-square-o"></i>
              </button>
            </td>
            <td>
              <!-- Only show delete button for other user accounts than current user -->
              {{# if userCanDeleteAccount }}
              <button class="delete-user btn btn-danger btn-sm">
                <i class="fa fa-trash-o"></i>
              </button>
              {{/ if }}
            </td>
          </tr>
          {{/ each }}
          </tbody>
        </table>
      </div>
    </div>

    <!-- user enrollment form -->
    {{> usersEnroll }}
  </section>
</template>
