<template name="settings">
  <section class="content-header">
    <h1>Settings</h1>
  </section>
  <section class="content">
    <div class="box box-primary">
      <div class="box-body">
        <a class="btn btn-app" href="{{ pathFor 'activityTypesSettings' }}">
          <i class="fa fa-heart-o"></i>
          Activity Types
        </a>
        <a class="btn btn-app" href="{{ pathFor 'dateTimeSettings' }}">
          <i class="fa fa-calendar"></i>
          Date/Time
        </a>
        <a class="btn btn-app" href="{{ pathFor 'rolesSettings' }}">
          <i class="fa fa-user-md"></i>
          Roles
        </a>
        <a class="btn btn-app" href="{{ pathFor 'usersSettings' }}">
          <i class="fa fa-users"></i>
          Users
        </a>
      </div>
    </div>
  </section>
</template>
