<template name="settings">
  <section class="content-header">
    <h1>
      {{_ "settings-header" }}
    </h1>
  </section>
  <section class="content">
    <div class="box box-primary">
      <div class="box-body">
        <a class="btn btn-app" href="{{ pathFor 'activityTypesSettings' }}">
          <i class="fa fa-heart-o"></i>
          {{_ "settings-activityTypes" }}
        </a>
        <a class="btn btn-app" href="{{ pathFor 'dateTimeSettings' }}">
          <i class="fa fa-calendar"></i>
          {{_ "settings-dateTime" }}
        </a>
        <a class="btn btn-app" href="{{ pathFor 'rolesSettings' }}">
          <i class="fa fa-user-md"></i>
          {{_ "settings-roles" }}
        </a>
        <a class="btn btn-app" href="{{ pathFor 'usersSettings' }}">
          <i class="fa fa-users"></i>
          {{_ "settings-users" }}
        </a>
      </div>
    </div>
  </section>
</template>
