<template name="homeGroupHomesTable">
  <table class="table table-compact table-striped">
    <caption>
      {{_ "homeGroup-tableCaption" }}
    </caption>
    <thead>
      <tr>
        <th>
            {{_ "homeGroup-tableHeader-viewHome" }}
        </th>
        <th class="col-sm-1 col-md-2">
          <i class="fa fa-home"></i>&nbsp;
            {{_ "homeGroup-tableHeader-name" }}
         </th>
        <th>
          {{_ "homeGroup-tableHeader-activityLevels" }}
          <div class="legend pull-right">
            <small>
              <i class="fa fa-square" id="legend-inactive"></i>&nbsp;
              {{_ "homeGroup-activityLevelsLegend-inactive" }}
              <i class="fa fa-square" id="legend-semiactive"></i>&nbsp;
              {{_ "homeGroup-activityLevelsLegend-semiActive" }}
              <i class="fa fa-square" id="legend-active"></i>&nbsp;
              {{_ "homeGroup-activityLevelsLegend-active" }}
            </small>
          </div>
        </th>
        <th>
            {{_ "homeGroup-tableHeader-viewReport" }}
        </th>
      </tr>
    </thead>
    <tbody>
      {{# each homes }}
        <tr id="home-{{ _id }}" class="home">
          <td>
            <button type="button" class="btn btn-default viewHome">
              <span class="fa fa-eye fa-lg" aria-hidden="true"></span>
              {{_ "homeGroup-home-viewButton-text" }}
            </button>
          </td>
          <td>
            {{ name }}
          </td>
          <td>
            {{> singleHomeActivityStatus home=this }}
          </td>
           <td>
             <button type="button" class="btn btn-default homeReport">
               <span class="fa fa-line-chart fa-lg" aria-hidden="true"></span>
                 {{_ "homeGroup-home-reportButton-text" }}
             </button>
           </td>
         </tr>
      {{/ each }}
    </tbody>
  </table>
</template>
