<template name="home">
  <h1 class="page-header">
    <i class="fa fa-lg fa-home"></i> {{ home.name }}
    {{# if isInRole 'admin' }}
    <button id="edit-home" class="btn btn-default">Edit</button>
    {{/ if }}
  </h1>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-header">
            <i class="fa fa-lg fa-users"></i> Residents
          </h2>
        </div>
        <div class="panel-body">
          {{> homeResidents residents=residents }}
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-header">
            <i class="fa fa-lg fa-line-chart"></i> Activity Level Trends
          </h2>
        </div>
        <div class="panel-body">
          {{> homeResidentActivityLevelTrend }}
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-header">
        <i class="fa fa-lg fa-heartbeat"></i> Activities
      </h2>
    </div>
    <div class="panel-body">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#activity-chart" aria-controls="chart" role="tab" data-toggle="tab">
            Resident Activity Summary
          </a>
        </li>
        <li role="presentation">
          <a href="#activity-table" aria-controls="calendar" role="tab" data-toggle="tab">
            Activity Table
          </a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="activity-chart">
          {{> homeResidentActivitySumsByType }}
        </div>
        <div role="tabpanel" class="tab-pane" id="activity-table">
          {{> homeActivities }}
        </div>
      </div>
    </div>
  </div>
</template>
