<template name="home">
  {{# if Template.subscriptionsReady }}
  <h1 class="page-header">
    <i class="fa fa-lg fa-home"></i>&nbsp;
    {{ home.name }}
    {{# if isInRole 'admin' }}
    <button id="edit-home" class="btn btn-default">
      {{_ "home-editHomeButton" }}
    </button>
    {{/ if }}
  </h1>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-header">
            <i class="fa fa-lg fa-users"></i>&nbsp;
             {{_ "home-residentsPanel-heading" }}
          </h2>
        </div>
        <div class="panel-body">
          {{> homeResidents residents=residents }}
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-header">
            <i class="fa fa-lg fa-users"></i>&nbsp;
            {{_ "home-activityLevelTrendsPanel-heading" }}
          </h2>
        </div>
        <div class="panel-body">
          {{> homeResidentActivityLevelTrend }}
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-header">
        <i class="fa fa-lg fa-heartbeat"></i>&nbsp;
        {{_ "home-activitiesPanel-heading" }}
        <small>{{_ "home-activitiesPanel-subheading" }}</small>
      </h2>
    </div>
    <div class="panel-body">
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="activity-chart">
          {{> homeResidentActivitySumsByType }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <!-- Activity counts by activity type -->
          {{> homeActivityCountsByActivityType homeId=home._id }}
        </div>

        <div class="col-md-6">
          <!-- Activity counts by facilitator role -->
          {{> homeActivityCountsByFacilitatorRole homeId=home._id }}
        </div>
      </div>
    </div>
  </div>
  {{ else }}
    {{> spinner }}
  {{/ if }}
</template>
