<template name="homeResidents">
  <table class="table table-striped">
    <caption>Residents with count of activities for past seven days. Activity level in parenthesis.</caption>
    <thead>
      <tr>
        <th><i class="fa fa-lg fa-user"></i> Name</th>
        <th><i class="fa fa-lg fa-heartbeat"></i> Activity Count (activity level)</th>
      </tr>
    </thead>
    <tbody>
      {{# if residents }}
        {{# each residents }}
        {{> homeResident }}
        {{/ each }}
      {{ else }}
      <tr>
        <td>Loading residents list...</td>
      </tr>
      {{/ if }}
    </tbody>
  </table>
</template>
