<template name="residentActivities">
  <h2>
    {{_ "residentActivities-header" }}
  </h2>
  <div class="row">
    <div class="col-md-6">
    {{> residentActivityTypesChart activities=activities }}
    </div>
    <div class="col-md-6">
    {{> residentFacilitatorRolesChart activities=activities }}
    </div>
  </div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#chart" aria-controls="chart" role="tab" data-toggle="tab">
        {{_ "residentActivities-tabs-trend" }}
      </a>
    </li>
    <li role="presentation">
      <a href="#calendar" aria-controls="calendar" role="tab" data-toggle="tab">
        {{_ "residentActivities-tabs-calendar" }}
      </a>
    </li>
    <li role="presentation">
      <a href="#table" aria-controls="table" role="tab" data-toggle="tab">
        {{_ "residentActivities-tabs-table" }}
      </a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="chart">
      {{> residentActivityChart activities=activities }}
    </div>
    <div role="tabpanel" class="tab-pane" id="calendar">
      {{> activityCalendar activities=activities }}
    </div>
    <div role="tabpanel" class="tab-pane" id="table">
      {{> activityTable activities=activities }}
    </div>
  </div>
</template>
