<template name="residencyForm">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">
            {{# if residencyId }}
              {{_ "residencyForm-header-edit" }}
            {{ else }}
              {{_ "residencyForm-header-add" }}
            {{/ if }}
          </h4>
        </div> <!-- / .modal-header -->
        {{# if Template.subscriptionsReady }}
        <div class="modal-body">
          <!-- new resident radio (checked by default) -->
          <div class="radio">
            <label>
              <input type="radio" name="new-or-existing" value="new" checked>
              {{_ "residencyForm-newOrExisting-new" }}
            </label>
          </div>

          <!-- existing resident radio (unchecked by default) -->
          <div class="radio">
            <label>
              <input type="radio" name="new-or-existing" value="existing">
              {{_ "residencyForm-newOrExisting-existing" }}
            </label>
          </div>

          {{# if addingResidencyForExistingUser }}
            {{#autoForm id="residencyForm" type=formType collection="Residencies" doc=residency }}

              {{> afQuickField name="residentId"}}
              {{> afQuickField name="homeId"}}
              {{> afQuickField name="moveIn" buttonClasses="fa fa-calendar" value=today}}
              {{> afQuickField name="moveOut" buttonClasses="fa fa-calendar" }}

              <button type="submit" class="btn btn-success">
                {{_ "residecyForm-save" }}
              </button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">
                {{_ "residencyForm-cancel" }}
              </button>

            {{/ autoForm }}
          {{ else }}
            {{#autoForm schema=newResidentAndResidencySchema id="new-resident-and-residency" type="method" }}
              {{> afQuickField name="firstName"}}
              {{> afQuickField name="lastInitial"}}
              {{> afQuickField name="homeId"}}
              {{> afQuickField name="moveIn" buttonClasses="fa fa-calendar" value=today}}

              <button type="submit" class="btn btn-success">
                {{_ "residecyForm-save" }}
              </button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">
                {{_ "residencyForm-cancel" }}
              </button>
            {{/ autoForm }}
          {{/ if }}
        </div> <!-- / .modal-body -->
        {{ else }}
          {{> spinner }}
        {{/ if }} <!-- /if Template.subscriptionsReady -->
      </div> <!-- / .modal-content -->
    </div> <!-- / .modal-dialogue -->
  </div> <!-- / .modal fade -->
</template>
