<template name="newFeeling">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        {{# if Template.subscriptionsReady }}
        <div class="modal-header">
          <h4 class="modal-title">
            <i class="fa fa-stethoscope"></i>&nbsp;
            Record new feeling</h4>
        </div>
        {{# autoForm id="newFeelingForm" type="insert" collection="Feelings"  }}

        <div class="modal-body">
          {{> afQuickField name="residentId" options=residentOptions }}
          {{> afQuickField name="feeling" type="hidden" value="selectedFeeling"}}
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-success">Save</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
        {{/ autoForm }}
        {{ else }}
        {{> spinner }}
        {{/ if }}
      </div>
    </div>
  </div>
</template>
