<template name="newFeeling">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">
            <i class="fa fa-stethoscope"></i>&nbsp;
            Record new feeling</h4>
        </div>


        {{# if Template.subscriptionsReady }}

        {{# autoForm id="newFeelingForm" type="insert" collection="Feelings"  }}
        <div class="modal-body">
        <div id="selected-feeling" class="feeling- clearfix text-center">
          <img src="/images/{{ selectedFeeling }}.svg" />
          <figcaption class="text-center">{{ selectedFeeling }}</figcaption>
        </div>

          {{> afQuickField
            name="residentId"
            options=residentOptions
            label="Resident"
           }}
          {{> afQuickField name="feeling" type="hidden" value="selectedFeeling"}}
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-success">Save</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
        {{/ autoForm }}
        {{ else }}
        {{> spinner }}
        {{/ if }}
      </div>
    </div>
  </div>
</template>
