<template name="mainLayoutNavbar">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="/">GeriLife<sup>®</sup></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      {{# if currentUser }}
      <div class="navbar-nav mr-auto">

          <a href="{{ pathFor route='residents' }}" class="nav-item nav-link">
            <i class="fa fa-users"></i>&nbsp;
            {{_ "mainLayoutNavbar-residentsLink" }}
          </a>


          <a href="{{ pathFor route='activities' }}" class="nav-item nav-link">
            <i class="fa fa-heartbeat"></i>&nbsp;
            {{_ "mainLayoutNavbar-activitesLink" }}
          </a>

          <a href="{{ pathFor route='homes' }}" class="nav-item nav-link">
            <i class="fa fa-home"></i>&nbsp;
            {{_ "mainLayoutNavbar-homesLink" }}
          </a>

      </div>


      <ul class="navbar-nav my-2">
        <li class="nav-item">
          <form class="navbar-form form-inline">
            {{> i18n_dropdown}}
          </form>
        </li>
        <li class="nav-item">
          <a href="{{ pathFor 'userProfile'}}" class="nav-link">
            <i class="fa fa-user"></i>&nbsp;
            {{_ "mainLayoutNavbar-profileLink" }}
          </a>
        </li>
        {{# if isInRole 'admin' }}
          <li class="nav-item">
            <a href="{{ pathFor 'settings'}}" class="nav-link">
              <i class="fa fa-cog"></i>&nbsp;
              {{_ "mainLayoutNavbar-settingsLink" }}
            </a>
          </li>
        {{/ if }}
        <li class="nav-item">{{> logout }}</li>
      </ul>
      {{/ if }}
    </div><!-- /.navbar-collapse -->

  </nav>
</template>
