<template name="mainLayoutNavbar">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img class="navbar-logo" src="/gerilife-logo.png" alt="">
          GeriLife<sup>®</sup>
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          {{# if currentUser }}
          <li>
            <a href="{{ pathFor route='residents' }}">
              <i class="fa fa-users"></i>&nbsp;
              {{_ "mainLayoutNavbar-residentsLink" }}
            </a>
          </li>
          <li>
            <a href="{{ pathFor route='activities' }}">
              <i class="fa fa-heartbeat"></i>&nbsp;
              {{_ "mainLayoutNavbar-activitesLink" }}
            </a>
          </li>
          <li>
            <a href="{{ pathFor route='homes' }}">
              <i class="fa fa-home"></i>&nbsp;
              {{_ "mainLayoutNavbar-homesLink" }}
            </a>
          </li>
          <li>
            <a href="{{ pathFor route='report' }}">
              <i class="fa fa-line-chart"></i>&nbsp;
              {{_ "mainLayoutNavbar-reportLink" }}
            </a>
          </li>
          {{/ if }}
        </ul>


        <ul class="nav navbar-nav navbar-right">
          <li>
            <form class="navbar-form form-inline">
              {{> i18n_dropdown}}
            </form>
          </li>
          {{# if currentUser }}
            <li>
              <a href="{{ pathFor 'userProfile'}}">
                <i class="fa fa-user"></i>&nbsp;
                {{_ "mainLayoutNavbar-profileLink" }}
              </a>
            </li>
            {{# if isInRole 'admin' }}
              <li>
                <a href="{{ pathFor 'settings'}}">
                  <i class="fa fa-cog"></i>&nbsp;
                  {{_ "mainLayoutNavbar-settingsLink" }}
                </a>
              </li>
            {{/ if }}
            <li>
              {{> logout }}
            </li>
          {{/ if }}
        </ul>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</template>
