<template name="resident">
  {{#if Template.subscriptionsReady}}
    <h1 class="page-header">
      {{# if currentUser }}
      <button type="button" class="btn btn-success pull-right" id="add-feeling">
        <i class="fa fa-stethoscope"></i>
        {{_ "resident-addFeeling-buttonText" }}
      </button>
      <button type="button" class="btn btn-success pull-right" id="add-activity">
        <i class="fa fa-heartbeat"></i>
        {{_ "resident-addActivity-buttonText" }}
      </button>
      {{/ if }}<!-- current user -->

      {{ resident.firstName }}
      &nbsp;
      <!-- only show last initial for authenticated user -->
      {{# if currentUser }}
        {{ resident.lastInitial }}
      {{/ if }}

      {{# if resident.onHiatus }}
        <span class="label label-info">
          {{_ "resident-onHiatus" }}
        </span>
        &nbsp;
      {{/ if }}

      {{# if isInRole 'admin' }}
      <button id="edit-resident" class="btn btn-default">
        {{_ "resident-editButton" }}
      </button>
      {{/ if }}
    </h1>
    <div class="row">
      {{> residentFeelings residentId=resident._id }}
    </div>
    <!-- make sure resident has activities -->
    {{# if activities }}
      <div class="row">
        {{>
          residentActivities
          resident=resident
                activityMetric=activityMetric
          activities=activities
        }}
      </div>
    {{ else }}
      <p>
        {{_ "resident-noRecordedActivities-text" }}
      </p>
    {{/ if }}
  {{ else }}
    {{> spinner }}
  {{/ if }}
</template>
