<template name="residents">
  <div class="page-header">
    {{# if isInRole 'admin' }}
    <button id="new-resident" class="btn btn-primary pull-right">
      Add New Resident
    </button>
    {{/ if }}
    <h1><i class="fa fa-users"></i> Residents</h1>
  </div>
  <div class="clearfix"></div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Filter residents by ...</h2>
    </div>
    <div class="panel-body">
      <div class="col-xs-12 col-sm-5">
        {{> reactiveTableFilter id="nameFilter" label="Name" fields=['fullName'] }}
      </div>
      <div class="col-xs-12 col-sm-5">
        {{> reactiveTableFilter id="homeFilter" label="Home" fields=['homeName'] }}
      </div>
      <div class="col-xs-12 col-sm-2">
        <label><input id="include-departed" type="checkbox"> include departed</label>
      </div>
    </div>
  </div>
  {{# if Template.subscriptionsReady }}
  {{> reactiveTable collection=residents settings=tableSettings }}
  {{ else }}
  {{> spinner }}
  {{/ if }}
</template>
