<template name="feelings">
  <div class="page-heading">
    <h1 class="page-header"><i class="fa fa-stethoscope"></i> How are you feeling?</h1>
  </div>
  <div class="feelings row">
    <div id="joy" class="feeling col-md-3">
      <img src="/images/joy.svg" />
      <figcaption class="text-center">Joy</figcaption>
    </div>
    <div id="fear" class="feeling col-md-3">
      <img src="/images/fear.svg" />
      <figcaption class="text-center">Fear</figcaption>
    </div>
    <div id="sad" class="feeling col-md-3">
      <img src="/images/sad.svg" />
      <figcaption class="text-center">Sad</figcaption>
    </div>
    <div id="anger" class="feeling col-md-3">
      <img src="/images/anger.svg" />
      <figcaption class="text-center">Anger</figcaption>
    </div>
  </div>
</template>
