<template name="feelings">
  <div class="page-heading">
    <h1 class="page-header">
      <i class="fa fa-stethoscope"></i>&nbsp;
      {{_ "feelings-headerQuestion" }}
    </h1>
  </div>
  <div class="feelings row">
    <div id="joy" class="feeling col-sm-3">
      <img src="/images/joy.svg" />
      <figcaption class="text-center">
        {{_ "feelings-happy" }}
      </figcaption>
    </div>
    <div id="fear" class="feeling col-sm-3">
      <img src="/images/fear.svg" />
      <figcaption class="text-center">
        {{_ "feelings-scared" }}
      </figcaption>
    </div>
    <div id="sad" class="feeling col-sm-3">
      <img src="/images/sad.svg" />
      <figcaption class="text-center">
        {{_ "feelings-sad" }}
      </figcaption>
    </div>
    <div id="anger" class="feeling col-sm-3">
      <img src="/images/anger.svg" />
      <figcaption class="text-center">
        {{_ "feelings-angry" }}
      </figcaption>
    </div>
  </div>
</template>
