<template name="newActivity">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        {{# if Template.subscriptionsReady }}
        <div class="modal-header">
          <h4 class="modal-title">
            <i class="fa fa-user"></i>&nbsp;
            {{_ "newActivity-header" }}
          </h4>
        </div>
        {{# autoForm id="newActivityForm" type="insert" collection="Activities"  }}

        <div class="modal-body">
          <label for="activityTypeId">
            {{_ 'activities.residentIds.label'}}
          </label>
          {{> afFieldInput
              name="residentIds"
              type="select2"
              multiple=true
              options=residentsSelectOptions
              select2Options=select2Options
              value=residentIds
          }}

          <label for="activityTypeId">
            {{_ 'activities.activityTypeId.label'}}
          </label>
          {{> afFieldInput name="activityTypeId" options=activityTypeIdOptions }}

          <label for="activityDate">
            {{_ 'activities.activityDate.label'}}
          </label>
          {{> afFieldInput name="activityDate" buttonClasses="fa fa-calendar" value=today type="bootstrap-datepicker" }}

          <label for="duration">
            {{_ 'activities.duration.label'}}
          </label>
          {{> afFieldInput name="duration"}}

          <label for="facilitatorRoleId">
            {{_ 'activities.facilitatorRoleId.label'}}
          </label>
          {{> afFieldInput name="facilitatorRoleId" options=facilitatorRoleIdOptions }}
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-success">
            {{_ "newActivity-save" }}
          </button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            {{_ "newActivity-cancel" }}
          </button>
        </div>
        {{/ autoForm }}
        {{ else }}
        {{> spinner }}
        {{/ if }}
      </div>
    </div>
  </div>
</template>
