<template name="residentsRecentActivityCountsAndMinutesChart">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>
        {{_ 'residentsRecentActivityCountsAndMinutesChart-header-text' }}
      </h3>
    </div>
    <div class="panel-body">
      <p class="text-muted pull-right">
        {{_ 'residentsRecentActivityCountsAndMinutesChart-note-jitter-text' }}
      </p>
      <div id="resident-activity-counts-and-minutes-chart">
        <svg></svg>
      </div>
    </div>
  </div>
</template>
