<template name="homeGroup">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 id="{{ name }}-title" class="panel-title">
        <i class="fa fa-cubes"></i>&nbsp;
        {{ name }}
      </h2>
    </div>
    <div class="panel-body">
      <table class="table table-compact table-striped">
        <caption>
          {{_ "homeGroup-tableCaption" }}
        </caption>
        <thead>
          <tr>
            <th>
              <i class="fa fa-home"></i>&nbsp;
                {{_ "homeGroup-tableHeader-name" }}
             </th>
            <th>{{_ "homeGroup-tableHeader-inactiveResidents" }}</th>
            <th>{{_ "homeGroup-tableHeader-semiActiveResidents" }}</th>
            <th>{{_ "homeGroup-tableHeader-activeResidents" }}</th>
          </tr>
        </thead>
        <tbody>
            {{# each homes }}
            <tr id="home-{{ _id }}" class="home">
              <td>
                {{ name }}
              </td>
               {{> singleHomeActivityStatus }}
             </tr>
            {{/ each }}
        </tbody>
      </table>
    </div>
  </div>
</template>
