<template name="homes">
  <div class="page-header">
    {{# if isInRole 'admin' }}
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Add New <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a href="homes/new">
            <i class="fa fa-home"></i> Home
          </a>
        </li>
      </ul>
    </div>
    {{/ if }}
    <h1><i class="fa fa-home"></i> Homes</h1>
  </div>
  {{# if Template.subscriptionsReady }}
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    {{# each groups }}
    <div class="panel panel-default">
      <div class="panel-heading" id="{{ name }}-panel" role="tab" data-toggle="collapse" data-parent="#accordion" href="#{{ name }}" aria-expanded="true" aria-controls="collapseOne">
        <h4 class="panel-title">
            {{ name }}
        </h4>
      </div>
      <div id="{{ name }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <div class="list-group">
            {{# each homes }}
            <a href="home/{{ _id }}" class="list-group-item">{{ name  }}</a>
            {{/ each }}
          </div>
        </div>
      </div>
    </div>
    {{/ each }}
  </div>
  {{/ if }}
</template>
