<template name="homes">
  <div class="page-header">
    {{# if isInRole 'admin' }}
    <div class="btn-group pull-right">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false">
        {{_ "homes-header-addNewButton" }}&nbsp;
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a id="new-group">
            <i class="fa fa-cubes"></i>&nbsp;
            {{_ "homes-header-addNewButton-group" }}
          </a>
        </li>
        <li>
          <a id="new-home">
            <i class="fa fa-home"></i>&nbsp;
            {{_ "homes-header-addNewButton-home" }}
          </a>
        </li>
      </ul>
    </div>
    {{/ if }}
    <h1>
      <i class="fa fa-home"></i>&nbsp;
      {{_ "homes-header" }}
    </h1>
  </div>
  {{# if Template.subscriptionsReady }}
    {{# each groups }}
    {{> homeGroup }}
    {{/ each }}
  {{/ if }}
</template>
