<template name="activityTypesSettings">
  <section class="content-header">
    <h1><i class="fa fa-heart-o"></i> Activity Types</h1>
  </section>
  <section class="content">
    <div class="box">
      <div class="box-header">
        <div class="box-toolbar">
          <div class="pull-right">
            <button id="add-activity-type" class="btn btn-primary">
                Add Activity Type
            </button>
          </div>
        </div>
      </div>
      <div class="box-body no-padding">
        <table class="table table-striped">
          <tbody>
          {{# each activityTypes }}
          <tr>
            <td>{{ name }}</td>
          </tr>
          {{/ each }}
          </tbody>
        </table>
      </div>
    </div>
  </section>
</template>
