<template name="residentActivities">
  <!-- make sure resident has activities -->
  {{# if activities }}
    <h2>
      {{_ "residentActivities-header" }}
    </h2>

    <!-- trend chart -->
    <div class="row">
      <div class="col-sm-12">
        {{> residentActivityTrendChart activities=activities }}
      </div>
    </div>

    <!-- histograms -->
    <div class="row">
      <div class="col-md">
      {{> residentActivityTypesChart activities=activities }}
      </div>
      <div class="col-md">
      {{> residentFacilitatorRolesChart activities=activities }}
      </div>
    </div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a
          class="nav-link active"
          href="#calendar"
          aria-controls="calendar"
          role="tab"
          data-toggle="tab">
            {{_ "residentActivities-tabs-calendar" }}
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="#table"
          aria-controls="table"
          role="tab"
          data-toggle="tab">
            {{_ "residentActivities-tabs-table" }}
        </a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="calendar">
        {{> activityCalendar activities=activities }}
      </div>
      <div role="tabpanel" class="tab-pane" id="table">
        {{> activityTable activities=activities }}
      </div>
    </div>
  {{ else }}
    <p>
      {{_ "resident-noRecordedActivities-text" }}
    </p>
  {{/ if }}
</template>
