<template name="allActivities">
  {{# if Template.subscriptionsReady }}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Filter activities by ...</h2>
    </div>
    <div class="panel-body">
      <div class="col-sm-4 col-xs-12">
        {{> reactiveTableFilter id="residentFilter" label="Resident" fields=['residents'] }}
      </div>
      <div class="col-sm-4 col-xs-12">
        {{> reactiveTableFilter id="homeFilter" label="Home" fields=['homeNames'] }}
      </div>
      <div class="col-sm-4 col-xs-12">
        {{> reactiveTableFilter id="typeFilter" label="Type" fields=['type'] }}
      </div>
    </div>
  </div>

  {{> reactiveTable collection=activities settings=tableSettings }}
  {{ else }}
  {{> spinner }}
  {{/ if }}
</template>
