<template name="dateTimeSettings">
    <section class="content-header">
      <h1>
        <i class="fa fa-calendar"></i>&nbsp;
        {{_ "dateTimeSettings-header" }}
       </h1>
    </section>
    <section class="content">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">
              {{_ "dateTimeSettings-timezone-header" }}
            </h3>
            <span class="label label-primary pull-right"><i class="fa fa-2x fa-globe"></i></span>
          </div><!-- /.box-header -->
          <div class="box-body">
            <p>
              {{_ "dateTimeSettings-timezone-helpText" }}
            </p>
            <form id="timezone-form" class="form-inline">
              <select id="timezone-select" class="form-control"></select>
              <button type="submit" class="btn btn-success">
                {{_ "dateTimeSettings-timezone-saveButton" }}
              </button>
            </form>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
    </section>
</template>
