<template name="home">
  {{# if Template.subscriptionsReady }}
  <h1 class="page-header">
    <i class="fa fa-lg fa-home"></i>&nbsp;
    {{ home.name }}
    {{# if isInRole 'admin' }}
    <button id="edit-home" class="btn btn-default">
      {{_ "home-editHomeButton" }}
    </button>
    {{/ if }}
  </h1>
  <div class="row">
    <div class="col-xs-12 col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-header">
            <i class="fa fa-lg fa-users"></i>&nbsp;
             {{_ "home-residentsPanel-heading" }}
          </h2>
        </div>
        <div class="panel-body">
          {{> homeResidents residents=residents }}
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-header">
            <i class="fa fa-lg fa-users"></i>&nbsp;
            {{_ "home-activityLevelTrendsPanel-heading" }}
          </h2>
        </div>
        <div class="panel-body">
          <p>
            {{_ "homeResidentActivityLevelTrend-chartTitle"}}
          </p>
          {{> homeResidentActivityLevelTrend }}
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-header">
        <i class="fa fa-lg fa-heartbeat"></i>&nbsp;
        {{_ "home-activitiesPanel-heading" }}
      </h2>
    </div>
    <div class="panel-body">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#activity-chart" aria-controls="chart" role="tab" data-toggle="tab">
            {{_ "home-activitiesPanel-activitySummaryTab" }}
          </a>
        </li>
        <li role="presentation">
          <a href="#activity-table" aria-controls="calendar" role="tab" data-toggle="tab">
            {{_ "home-activitiesPanel-activityTableTab" }}
          </a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="activity-chart">
          <h3>
            {{_ "homeResidentActivitySummaryCharts-heading" }}
        
            <div class="btn-group btn-group-toggle" id="activityMetricToggle" data-toggle="buttons">
              <label class="btn btn-default btn-sm active">
                <input type="radio" name="activityMetric" value="count" checked>
                {{_ "home-activityMetricButtons-activity_count" }}
              </label>
              <label class="btn btn-default btn-sm">
                <input type="radio" name="activityMetric"  value="minutes">
                {{_ "home-activityMetricButtons-activity_minutes" }}
              </label>
            </div>
        
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-default btn-sm active">
                <input type="radio" name="activityPeriod" value="7" checked>
                {{_ "home-activityPeriodButtons-7days" }}
              </label>
              <label class="btn btn-default btn-sm">
                <input type="radio" name="activityPeriod" value="30">
                {{_ "home-activityPeriodButtons-30days" }}
              </label>
            </div>
          </h3>
        
          <div class="row">
            <div class="col-md-12">
              {{> homeResidentActivitySumsByType
                activityMetric=activityMetric
                activityPeriod=activityPeriod
              }}
            </div>
          </div>
        
          <div class="row">
            <div class="col-md-6">
              <!-- Activity type -->
              {{> homeActivityCountsByActivityType
                homeId=home._id
                activityMetric=activityMetric
                activityPeriod=activityPeriod
              }}
            </div>
        
            <div class="col-md-6">
              <!-- Facilitator role -->
              {{> homeActivityCountsByFacilitatorRole
                homeId=home._id
                activityMetric=activityMetric
                activityPeriod=activityPeriod
              }}
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="activity-table">
          {{> homeActivities }}
        </div>
      </div>
    </div>
  </div>
  {{ else }}
    {{> spinner }}
  {{/ if }}
</template>
