<template name="singleHomeActivityStatus">
  {{# with activityLevelCounts}}
    {{# if inactive }}
    <td class="danger">
      {{ inactive }}
      <i class="fa fa-user"></i>
    </td>
    {{ else }}
    <td></td>
    {{/ if }}
    {{# if semiActive }}
    <td class="warning">
      {{ semiActive }}
      <i class="fa fa-user"></i>
    </td>
    {{ else }}
    <td></td>
    {{/ if }}
    {{# if active }}
    <td class="success">
      {{ active }}
      <i class="fa fa-user"></i>
    </td>
    {{ else }}
    <td></td>
    {{/ if }}
  {{/ with }}
</template>
