<template name="residents">
  <div class="page-header">
    {{# if isInRole 'admin' }}
    <button id="new-resident" class="btn btn-primary pull-right">
      {{_ "residents-header-addResidencyButton" }}
    </button>
    {{/ if }}
    <h1>
      <i class="fa fa-users"></i>&nbsp;
      {{_ "residents-header" }}
    </h1>
  </div>
  <div class="clearfix"></div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">
        {{_ "residents-filterPanel-header" }}
      </h2>
    </div>
    <div class="panel-body">
      <div class="col-xs-12 col-sm-5">
        {{>
          reactiveTableFilter
          id="nameFilter"
          label=filterLabels.fullName
          fields=nameFilterFields }}
      </div>
      <div class="col-xs-12 col-sm-5">
        {{>
          reactiveTableFilter
          id="homeFilter"
          label=filterLabels.homeName
          fields=homeFilterFields }}
      </div>
      <div class="col-xs-12 col-sm-2">
        <label>
          <input id="include-departed" type="checkbox">&nbsp;
           {{_ "residents-filterPanel-includeDeparted" }}
         </label>
      </div>
    </div>
  </div>
  {{# if Template.subscriptionsReady }}
  {{> reactiveTable collection=residencies settings=tableSettings }}
  {{ else }}
  {{> spinner }}
  {{/ if }}
</template>
