<template name="residents">
    <h1>
      <i class="fa fa-users"></i>
      {{_ "residents-header" }}
      {{# if isInRole 'admin' }}
        <div class="float-right">
          <button id="new-resident" class="btn btn-primary" type="button">
            {{_ "residents-header-addResidencyButton" }}
          </button>
        </div>
      {{/ if }}
    </h1>

    <div class="row">
      <p>
        {{_ "residents-filterPanel-header" }}
      </p>
      <div class="col">
        {{>
          reactiveTableFilter
          id="nameFilter"
          label=filterLabels.fullName
          fields=nameFilterFields }}
      </div>
      <div class="col">
        {{>
          reactiveTableFilter
          id="homeFilter"
          label=filterLabels.homeName
          fields=homeFilterFields }}
      </div>
      <div class="col">
        <label>
          <input id="include-departed" type="checkbox">&nbsp;
           {{_ "residents-filterPanel-includeDeparted" }}
         </label>
      </div>

  </div>
  {{# if Template.subscriptionsReady }}
    {{> reactiveTable collection=residents settings=tableSettings }}
  {{ else }}
    {{> spinner }}
  {{/ if }}
</template>
