<template name="assignManager">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        {{# if assignManagerSchema }}
        <div class="modal-header">
          {{> flashMessages}}
          <h2 class="modal-title">
            <i class="fa fa-home"></i>
            {{_ "assignManager-header-text" }}
            <button
              type="button"
              id="closeAssignManagerModal"
              class="btn btn-default pull-right"
            >
              <i class="fa fa-remove" aria-hidden="true"></i>
            </button>
          </h2>
        </div>
        <div class="modal-body">
          

          {{> quickForm 
              id="assignManagerForm"
              schema=assignManagerSchema
              type="method"
              buttonContent=buttonContent
              meteormethod="assignManager" }}

          {{#if currentManagers}}
          <br />
          <div>
            {{>
              reactiveTableFilter
              id="addressFilter"
              label=addressFilterLabel
              fields=addressFilterFields }}
          </div>

          <div>
            {{> reactiveTable
              collection=currentManagers
              settings=tableSettings }}
          </div>

          {{else}}
          <div>{{_ "assignManager-noCurrentManager"}}.</div>

          {{/if}}
        </div>

        {{ else }}
        {{> spinner }}
        {{/ if }}
      </div>
    </div>
  </div>
</template>
