<template name="resident">
  {{#if Template.subscriptionsReady}}
  <h1 class="page-header">
    {{ resident.firstName }} {{ resident.lastInitial }}
    {{# if isInRole 'admin' }}
    <button id="edit-resident" class="btn btn-default">
      {{_ "resident-editButton" }}
    </button>
    {{/ if }}
  </h1>
  <div class="row">
    {{> residentFeelings }}
  </div>
  <div class="row">
    {{>
      residentActivities
      resident=resident
      activities=activities
    }}
  </div>
  {{ else }}
    {{> spinner }}
  {{/ if }}
</template>
