<template name="resident">
  {{#if Template.subscriptionsReady}}
    <h1 class="page-header">
      {{ resident.firstName }} {{ resident.lastInitial }}
      {{# if isInRole 'admin' }}
      <button id="edit-resident" class="btn btn-default">
        {{_ "resident-editButton" }}
      </button>
      {{/ if }}
    </h1>
    <div class="row">
      {{> residentFeelings residentId=resident._id }}
    </div>
    <!-- make sure resident has activities -->
    {{# if activities }}
      <div class="row">
        {{>
          residentActivities
          resident=resident
          activities=activities
        }}
      </div>
    {{ else }}
      <p>Resident has no recorded activities.</p>
      <button type="button" class="btn btn-success" id="add-activity">
        <i class="fa fa-heartbeat"></i>
        Add activity
      </button>
    {{/ if }}
  {{ else }}
    {{> spinner }}
  {{/ if }}
</template>
